/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2016, 3:18:24 PM
    Author     : Mark
*/

/*OVERWRITING MATERIALIZE TABS FOR CHAT*/
.tab-chat-fix {
    margin-bottom: -48px;
}
.chat-tab-fix {
    border-top: 48px solid #2ecc71;
}
.tabs {
    background: none;
}
.tabs .tab {
    margin: 0 1%;
} 
.tabs .tab:first-child {
    margin: 0 1% 0 0;
} 
.tabs .tab:last-of-type {
    margin: 0 0 0 1%;
} 
.tabs .tab:only-of-type {
    margin: 0 0 0 0;
}
.tabs .tab a {
    color: #2ecc71; /*emerald*/
    background: #ecf0f1; /*clouds*/
    text-transform: none;
    text-spacing: normal;
}
.tabs .tab a:hover {
    color: #2B8551; //moss
}
.tabs .tab a.active {
    background-color: #ffffff;
    font-weight: bold;
}
.tabs .indicator {
    background-color: transparent; //moss
}