/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2016, 3:18:24 PM
    Author     : Mark
*/

/*OVERWRITING MATERIALIZE TABS FOR CHAT*/

.tab-chat-fix {
    margin-bottom: -48px;
}
.chat-tab-fix {
    border-top: 48px solid #333;
}
.tabs {
    background: none;
}
.tabs .tab {
    margin: 0 -5px;
} 
.tabs .tab:first-of-type {
    margin: 0 0px;
} 
.tabs .tab:last-of-type {
    margin: 0 0px;
} 
.tabs .tab a {
    display: flex;
    justify-content: center;
    color: #ecf0f1; /*white*/
    background: #2B8551; /*moss*/
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
    overflow-wrap: normal;
    white-space:normal;
    text-overflow: unset;
    position: relative;
    width: calc(100% - 20px);
    margin: auto;
    overflow: visible;
    z-index: 0;
}
.tabs .tab a::after {
    content: "";
    position: absolute;
    display: inline-block;
    overflow: visible;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 0 10px;
    border-color: transparent transparent transparent #2CA55F;/*mantis*/
}
.tabs .tab a::before {
    content: "";
    position: absolute;
    display: inline-block;
    overflow: visible;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 48px 10px;
    border-color: transparent transparent #2CA55F transparent;/*mantis*/
}
.tabs .tab a:hover {
    color: #ffffff; //white
}
.tabs .tab a.active {
    color: #ffffff;
    background-color: #2D714A !important; /*myrtle*/
    font-weight: bold;
    z-index: 10;
}
.tabs .tab a.active::after {
    border-color: transparent transparent transparent #2D714A;
}
.tabs .tab a.active::before {
    border-color: transparent transparent #2D714A transparent;
}
.tabs .indicator {
    background-color: transparent; //moss
}

.chat_window_output {
    position: relative;
}

.color {
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    position: relative;
}
.color.active::after {
    content: "";
    display: block;
    position: absolute;
    
}
textarea {
    
}
.chat_message_container {
    padding: 1%;
}
.chat_message {
    background: #fff;
    //border-radius: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    max-width: 80%;
    padding: 15px;
}
.chat_pin { 
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 25px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 10;
}
.chat_avatar {
    display: inline-block;
    margin-right: 15px;
    width: 5%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    
    background: url('/img/default_avatar.jpg') center no-repeat;
    background-size: cover;
}
.chat_avatar::after {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
}
.chat_message_right {
    display: flex;
    justify-content: flex-end;
}
.chat_message_right .chat_pin {
    border-width: 15px 0 0 25px;
    border-color: transparent transparent transparent #ffffff;
}
.chat_message_right .chat_avatar {
    margin-right: 0;
    margin-left: 15px;
}
.chat_message_right .chat_message {
    
}