// colors
.weirdfix {
    
}

.pumpkin {
    background: #d35400 !important;
}
.pumpkin-text {
    color: #d35400 !important;
}
.pumpkin-border {
    border-color: #d35400 !important;
}
.pomegranate {
    background: #c0392b !important;
}
.pomegranate-text {
    color: #c0392b !important;
}
.pomegranate-border {
    border-color: #c0392b !important;
}
.peter {
    background: #3498DB !important;
}
.peter-text {
    color: #3498DB !important;
}
.peter-border {
    border-color: #3498DB !important;
}
.belize {
    background: #2980B9 !important;
}
.belize-text {
    color: #2980B9 !important;
}
.belize-border {
    border-color: #2980B9 !important;
}
.alizarin {
    background: #e74c3c !important;
}
.alizarin-text {
    color: #e74c3c !important;
}
.alizarin-border {
    border-color: #e74c3c !important;
}
.greensea {
    background: #16a085 !important;
}
.greensea-text {
    color: #16a085 !important;
}
.greensea-border {
    border-color: #16a085 !important;
}
.moss {
    background: #2B8551 !important;
}
.moss-text {
    color: #2B8551 !important;
}
.moss-border {
    border-color: #2B8551 !important;
}
.myrtle {
    background: #2D714A !important;
}
.myrtle-text {
    color: #2D714A !important;
}
.myrtle-border {
    border-color: #2D714A !important;
}
.nephritis {
    background: #27ae60 !important;
}
.nephritis-text {
    color: #27ae60 !important;
}
.nephritis-border {
    border-color: #27ae60 !important;
}
.asphalt {
    background: #34495e !important;
}
.asphalt-text {
    color: #34495e !important;
}
.asphalt-border {
    border-color: #34495e !important;
}
.clouds {
    background: #ecf0f1 !important;
}
.clouds-text {
    color: #ecf0f1 !important;
}
.clouds-border {
    border-color: #ecf0f1 !important;
}
.sunflower {
    background: #f1c40f !important;
}
.sunflower-text {
    color: #f1c40f !important;
}
.sunflower-border {
    border-color: #f1c40f !important;
}
.turquoise {
    background: #1abc9c !important;
}
.turquoise-text {
    color: #1abc9c !important;
}
.turquoise-border {
    border-color: #1abc9c !important;
}
.emerald {
    background: #2ecc71 !important;
}
.emerald-text {
    color:  #2ecc71 !important;
}
.emerald-border {
    border-color: #2ecc71 !important;
}
.white-border {
    border-color: #ffffff !important;
}
.white-text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}
.white-text-shadow {
    text-shadow: 0 0 5px #fff;
}
.bold {
    font-weight: bold !important;
}

.padding1 {
    padding: 1% !important;
}
.padding2 {
    padding: 2% !important;
}
.padding3 {
    padding: 3% !important;
}.padding4 {
    padding: 4% !important;
}
.padding5 {
    padding: 5% !important;
}
.padding10 {
    padding: 10% !important;
}
.min-width-400 {
    min-width: 400px !important;
}
.shadow-inset {
    box-shadow: inset 0 0 15px rgba(0,0,0,0.25); 
}
.justified {
    text-align: justify !important;
}
.bold {
    font-weight: bold;
}
.large-font {
    font-size: 2rem;
}
.inherit-font-size {
    font-size: inherit !important;
}
.icon {
    font-size: 3em;
    padding: 4%;
    margin: 4% 0 4% 0;
    border-radius: 50%;
    //border: 3px solid;
    box-shadow: 0 0 1px #27ae60, 0 0 1px #27ae60, 0 0 1px #27ae60;
}
.form_message {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2% 0 !important;
}
.form_message .material-icons {
    top: 0.16rem;
    padding: 0 0.2rem 0 0;
    position: relative;
}
.fadein {
    opacity: 0;
    animation: fadein 1s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.slidein-top {
    transform: translateY(-100vh);
    animation: slidein-top 1s;
    animation-fill-mode: forwards;
}
@keyframes slidein-top {
    from { transform: translateY(-100vh); }
    to { transform: translateY(0vh); }
}
.slidein-top-components > *:nth-child(7n-7){
    transform: translateY(-100vh);
    animation: slidein-top 0.90s ease-out;
    animation-delay: 0.10s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-6){
    transform: translateY(-100vh);
    animation: slidein-top 0.85s ease-out;
    animation-delay: 0.08s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-5){
    transform: translateY(-100vh);
    animation: slidein-top 0.80s ease-out;
    animation-delay: 0.06s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-4){
    transform: translateY(-100vh);
    animation: slidein-top 0.75s ease-out;
    animation-delay: 0.04s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-3){
    transform: translateY(-100vh);
    animation: slidein-top 0.70s ease-out;
    animation-delay: 0.02s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-2){
    transform: translateY(-100vh);
    animation: slidein-top 0.65s ease-out;
    animation-delay: 0.00s;
    animation-fill-mode: forwards;
}
.slidein-top-components > *:nth-child(7n-1){
    transform: translateY(-100vh);
    animation: slidein-top 0.60s ease-out;
    animation-fill-mode: forwards;
}
.slidein-bottom {
    transform: translateY(100vh);
    animation: slidein-bottom 1s;
    animation-fill-mode: forwards;
}
@keyframes slidein-bottom {
    from { transform: translateY(100vh); }
    to { transform: translateY(0vh); }
}
.slidein-left {
    transform: translateX(-100vw);
    animation: slidein-left 1s;
    animation-fill-mode: forwards;
}
@keyframes slidein-left {
    from { transform: translateX(-100vw); }
    to { transform: translateX(0vw); }
}
.slidein-right {
    transform: translateX(100vw);
    animation: slidein-right 1s;
    animation-fill-mode: forwards;
}
@keyframes slidein-right {
    from { transform: translateX(100vw); }
    to { transform: translateX(0vw); }
}
.pulse {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0px rgba(0,0,0,0); }
    50% { box-shadow: 0 0 15px rgba(0,0,0,0.5); }
    100% { box-shadow: 0 0 0 rgba(0,0,0,0); }
}
.pulse-text-shadow {
    text-shadow: 0 0 0 rgba(0,0,0,0);
    animation: pulse-text-shadow 1s infinite;
}
@keyframes pulse-text-shadow {
    0% { text-shadow: 0 0 0 rgba(0,0,0,0); }
    50% { text-shadow: 0 0 2px rgba(0,0,0,0.5); }
    100% { text-shadow: 0 0 0 rgba(0,0,0,0); }
}

body {
    //padding: 2% 0 0 0;
}
.container {
    padding: 2.5%;
}

.input-field input,
.input-field input:-webkit-autofill {
    font-size: 1.5rem;
    border-bottom-style: none !important;
    outline: 1px dashed rgba(0,0,0,0.25) !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,0) !important;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0,0,0,0.025) !important;
    box-sizing: border-box;
    color: inherit;
    transition: all 0.25s;
}
.input-field input:focus,
.input-field input:focus:-webkit-autofill {
    background-color: rgba(0,0,0,0.05) !important;
    outline: 1px dashed rgba(0,0,0,0) !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25) !important;
    color: inherit;
}
.input-field input:valid,
.input-field input:valid:-webkit-autofill {
    border-bottom: none !important;
    outline: 1px solid white !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0.05) !important;
    color: inherit;
}
.input-field input:invalid {
}
.input-field label {
    font-size: 1.5rem;
    padding: 0rem 0.5rem 0.5rem;
    line-height: 1.5rem;
    transition: 0.25s ease-in-out;
    font-weight: bold;
}
.input-field label.active {
    font-size: 1.5rem;
    opacity: 0;
    transform: none !important;
}
.input-field label i {
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
}
/*input[type=password]+label.password-animate::after {
    content: "" !important;
    font-size: 1.5rem !important;
    padding: 0rem 0.5rem 0.5rem !important;
    line-height: 1.5rem !important;
    transition: 0.25s ease-in-out !important;
    font-weight: bold !important;
    display: inline !important;
    position: relative !important;
    top: 0 !important;
    opacity: 1 !important;
    animation: password-animate 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
}
@keyframes password-animate {
    10% { content: "" }
    20% { content: "p" }
    30% { content: "pa" }
    40% { content: "pas" }
    50% { content: "pass" }
    60% { content: "passw" }
    70% { content: "passwo" }
    80% { content: "passwor" }
    90% { content: "password" }
    100% { content: "password" }
}*/
button[type="submit"] {
    text-align: center;
    font-size: 4rem;
    background: transparent;
    border:none;
    transition: color 0.5s;
}
button[type="submit"]:hover {
    color: #ffffff !important;
}
.form-link {
    display: block;
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 1rem;
}
.form-link:hover  {
    color: #ffffff !important;
}
